<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:3</title>
</head>

<body>
    <ul>
        <% for (let i = 0; i < orders.length; i++) { %>
            <li>
                <a href="/view?entry=<%= orders[i].id %>"><%= orders[i].brand %></a> - 
                Quantity: <%= orders[i].quantity %>
            </li>
        <% } %>
    </ul>
</body>
</html>

<!-- 
    <% orders.forEach(order => { %>
    <li>Brand: <%= order.brand %>, Amount: <%= order.quantity %><br></br></li>
    <% }); %> //It's better code but "not to spec"
-->