<%- include('../partials/header.ejs', {pageTitle: 'Home'}); %>

<script>
    function goToThreadPage(id) {
        window.location.href = `/thread/${id}/1`;
    }
</script>

<!-- embrace tradition -->
<center><h1>Popular Threads</h1></center>

<% locals.threads.forEach((thread, index) => { %>
    <div class="thread" onclick="goToThreadPage('<%= thread.uid %>');">
        <div class="thread-title"><%= thread.title %></div>
        <div class="thread-description">
            <%= (thread.description !== '') ? thread.description : 'No Description.' %>
        </div>
    </div>
<% }); %>

<% if(locals.loggedIn) { %>
    <center>
        <a href="/create-thread"><button>Create Thread</button></a>
    </center>
<% } %>

<%- include('../partials/footer.ejs') %>