<%- include('../partials/header.ejs', {pageTitle: 'Home'}); %>

<script>
    function goToThreadPage(id) {
        window.location.href = `/thread/${id}`;
    }
</script>

<% locals.threads.forEach((thread, index) => { %>
    <div class="thread" onclick="goToThreadPage('<%= thread.uid %>');">
        <div class="thread-title"><%= thread.title %></div>
        <div class="thread-description">
            <%= (thread.description !== '') ? thread.description : 'No Description.' %>
        </div>
    </div>
<% }); %>

<%- include('../partials/footer.ejs') %>