<%- include('../partials/header.ejs', {pageTitle: thread.title}); %>

<b id="thread-title">Thread: </b><%= thread.title %>
<b id="thread-page">Page: </b><%= page %>

<% locals.posts.forEach((post, index) => { %>
    <%- include('../partials/post-listing.ejs', {post: post}); %>
<% }); %>

<center>
<div class="page-selector">

    <% 

    let previousPage = page - 1;
    let nextPage = page + 1;

    if(page === 1) {
        previousPage = 1;
    }

    if(page >= totalPages) { 
        nextPage = totalPages;
    } 

     %>

     <br>

    <% if(locals.loggedIn) { %>
        <form action="/thread/<%= thread.uid %>/create-post" method="post" id="post-form">
            <textarea id="post-textarea" name="content" minlength="<%= config.minPostLength %>" maxlength="<%= config.maxPostLength %>"  placeholder="Reply to thread..."></textarea>
            <button type="submit" id="post-button">Reply</button>
        </form>
    <% } %>

    <br><br>

    <a href="/thread/<%= thread.uid %>/1"><button>&lt;&lt;</button></a>
    <a href="/thread/<%= thread.uid %>/<%= previousPage %>"><button>&lt;</button></a>
    <a href="/thread/<%= thread.uid %>/<%= nextPage %>"><button>&gt;</button></a>
    <a href="/thread/<%= thread.uid %>/<%= totalPages %>"><button>&gt;&gt;</button></a>

</div>
</center>

<%- include('../partials/footer.ejs'); %>